In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
from sqlalchemy import create_engine
import pyodbc

In [96]:
def parse_json(file_path, chunk_size=10000):
    # Initialize an empty DataFrame to append chunks
    df_chunks = []
    
    # Iterate over chunks of the JSON file
    for chunk in pd.read_json(file_path, lines=True, chunksize=chunk_size):
        df_chunks.append(chunk)
    
    # Concatenate all chunks into a single DataFrame
    df = pd.concat(df_chunks, ignore_index=True)
    return df

In [97]:
business_df = parse_json(file_path='yelp_academic_dataset_business.json')

In [98]:
checkin_df = parse_json(file_path='yelp_academic_dataset_checkin.json')

In [99]:
review_df = parse_json(file_path='yelp_academic_dataset_review.json')

In [100]:
tip_df = parse_json(file_path='yelp_academic_dataset_tip.json')

In [101]:
user_df = parse_json(file_path='yelp_academic_dataset_user.json')

# Connecting to SQL SERVER

In [3]:
SERVER = 'awpsg\\SQLEXPRESS'
DATABASE = 'yelpdb'
DRIVER = 'ODBC Driver 17 for SQL Server'
connecting_string = f"mssql+pyodbc://@{SERVER}/{DATABASE}?trusted_connection=yes&driver={DRIVER}"

In [4]:
engine = create_engine(connecting_string)

# Loding the df to SQL SERVER

In [116]:
def load_df_to_db(dataframe, table_name, engine):
    try:
        dataframe.to_sql(table_name, con=engine, if_exists='replace', index=False)
        return f"{table_name} sucessfully created"
    except Exception as e:
        return f"An error occurred: {e}"

In [119]:
load_df_to_db(dataframe=tip_df, table_name='business', engine=engine)

'business sucessfully created'

In [125]:
load_df_to_db(dataframe=user_df, table_name='users', engine=engine)

'users sucessfully created'

In [126]:
load_df_to_db(dataframe=tip_df, table_name='tips', engine=engine)

'tips sucessfully created'

In [129]:
load_df_to_db(dataframe=checkin_df, table_name='checkins', engine=engine)

'checkins sucessfully created'

In [132]:
load_df_to_db(dataframe=review_df, table_name='reviews', engine=engine)

'reviews sucessfully created'

In [155]:
business_df.drop(['attributes'], axis=1 ,inplace=True)

In [159]:
business_df.drop(['hours'], axis=1 ,inplace=True)

In [160]:
load_df_to_db(dataframe=business_df, table_name='business', engine=engine)

'business sucessfully created'